
/* setting css-helper-library's .b-container class to prefered width*/

.b-container {
  width: 90%;
}

@media screen and (min-width: 501px) {
  .b-container {
    width: 80%;
  }
}

@media screen and (min-width: 1001px) {
  .b-container {
    width: 70%;
  }
}

@media screen and (min-width: 1280px) {
  .b-container {
    width: 1000px;
  }
}


/* (my) classes acting as css-helper-library (width) helpers */

.form {
  width: 100%;
}

.form .formGroup {
  width: 90%;
  margin: 0 auto 20px auto;
}

@media screen and (min-width: 601px) {
  .form .formGroup {
    width: 65%;
  }
}

@media screen and (min-width: 1001px) {
  .form .formGroup {
    width: 50%;
  }
}


/* my own code */

:root {
  --josefin: 'Josefin Sans', sans-serif;
  --nunito: 'Nunito Sans', sans-serif;
  --grey: #999999;
  --teal: teal;
}

body {
  padding: 25px 0;
  font-family: var(--josefin);
}

h1 {
  font-size: 1.18em;
  padding: 5px 0 0 0;
}

a {
  color: var(--teal);
}

h1 a {
  text-decoration: none;
}

button {
  font-size: 1em;
  padding: 8px 10px;
  border-radius: 4px;
  font-family: var(--josefin);
  background: var(--teal);
  color: white;
}

button:hover,
button:focus {
  transform: scale(1.05);
  transition: transform 0.2s linear;
}

main {
  margin: 25px 0;
}

.main-header {
  margin: 0 0 25px 0;
  font-family: var(--nunito);
}

.main-description > p {
  font-size: 1.05em;
  line-height: 1.35em;
}

.table-section .empty-div {
  display: none;
  background: #ececec;
  color: var(--grey);
  height: 150px;
}

.table-section table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.table-section table,
thead th:not(th:nth-last-child(1)),
tbody tr td:not(td:nth-last-child(1)) {
  border: 1px solid var(--grey);
}

thead th,
tbody td {
  padding: 5px 0 5px 5px;
  text-align: left;
}

thead th {
  font-size: 0.95em;
}

tbody td {
  font-size: 0.9em;
}

.table-section button {
  padding: 5px;
  margin: 0 10px 0 0;
}

.table-section button:nth-child(2) {
  margin: 0;
}

.form {
  padding: 20px 0;
  box-shadow: 0 0 35px rgba(153, 153, 153, 0.2);
  border-radius: 3px;
  margin: 0 0 25px 0;
}

.form .btnGroup {
  margin: 25px 0 5px 0;
}

.form .btnGroup > button {
  margin: 0 5px;
}

input,
label {
  font-size: 1em;
}

label {
  display: inline-block;
  width: 60px;
  font-weight: 500;
}

input {
  padding: 5px;
  font-size: 1.05em;
  width: calc(100% - 100px);
  font-family: var(--nunito);
  border: 1px solid transparent;
  border-bottom: 1px solid #808080;
}

footer {
  font-size: 0.85em;
}

footer a {
  display: inline-block;
  margin: 0 4px;
}

/* assist */

.fancy-btn {
  background: transparent;
  color: var(--teal);
  border: 1px solid var(--teal);
}

.transparent-border {
  border: 1px solid transparent;
}

/*----------*/

@media screen and (min-width: 401px) {
  h1 {
    font-size: 1.45em;
  }
}

@media screen and (min-width: 501px) {
  h1 {
    font-size: 1.65em;
  }

  button {
    font-size: 1.1em;
  }

  input,
  label {
    font-size: 1.05em;
  }

  label {
    width: 60px;
  }

  footer {
    font-size: 0.9em;
  }
}
